layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        children
        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
    }

    tab name="dev" focus=true {
        pane split_direction="vertical" {
            pane name="🌐 Web" size="50%" {
                command "pnpm"
                args "dev:web"
                focus true
            }

            pane name="🐍 API" size="50%" {
                command "pnpm"
                args "dev:api"
            }
        }
    }

    tab name="convex" {
        pane name="⚡ Convex" {
            command "pnpm"
            args "dev:convex"
        }
    }

    tab name="shell" {
        pane
    }
}
